* {
  font-family: "Courier New", Courier, monospace;
  color: #313348;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eef0f4;
}
#root {
  justify-content: center;
}

.nm {
  background: #eef0f4;
  box-shadow: 9.91px 9.91px 15px #bcbec1, -9.91px -9.91px 15px #ffffff;
}

.nm-ins {
  background: #eef0f4;
  box-shadow: inset 9.91px 9.91px 15px #bcbec1,
    inset -9.91px -9.91px 15px #ffffff;
}

.container {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tsparticles {
  position: fixed;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* Animations */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  transition: all 500ms;
}

.animated.bounceIn {
  animation-duration: 0.75s;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}
